#app {
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside main";

    gap: 10px;
}

aside,
main {
    background-color: var(--colour-neutral-100);
}

aside {
    grid-area: aside;
    padding: 10px;
}
main {
    grid-area: main;
}

.config {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}

.btn {
    color: var(--base-colour);
    border: 0;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(130%);
}

/* .btn.default {
    background-color: var(--base-grey);
} */

.btn.primary {
    background-color: var(--primary);
    color: #fff;
}

/* .btn.warning {
    background-color: var(--base-red);
    color: #fff;
} */
